footer
  .container.pb-50.pt-50
    .row
      .col
        h2
          | Irene Galindo Roman
        p
          | La opcion inteligente para el desarrollo incluyente en Cabo San Lucas.
        p
          | Amigo visitante puedes ponerte en contacto con Irene via correo electronico atravez de:
        a(href='mailto:hola@irenagalindo.com')
          | hola@irenegalindo.com
