meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
meta(name='description', content='')
meta(name='keywords', content='')
link(rel='stylesheet', href='/styles/vendors.min.css')
link(rel='stylesheet', href='/styles/main.css')
script(src='/scripts/vendors.min.js')
