doctype html
html
  head
    title Irene Galindo Roman
    include _partials/head.pug
    include _modules/top-menu.pug
    include _modules/menu.pug
    include _modules/banner.pug
    section#meet-irene
      .row
        .col
          h2
            | Yeah
    section#presentation
      .row
        .col
          img(src='/images/photos/irne-galindo-profile.png', width='100%')
        .col
          h2
            | Mi nombre es Irene Galindo y quiero ser delegada en Cabo San Lucas
          p
            | Cabo San Lucas es el destino turistico mas importante en el Pacifico Mexicano, playas hermosas y una poblacion en crecimiento vertiginoso, ¿Es posible armonizar turismo y crecimiento poblacional?.
          p
            | Yo creo que si, soy una mexicana emprendedora con la firme conviccion de que Cabo San Lucas puede mejorar. conoce mas acerca de mi.
          .btn.acerca
            a(href='conozca-a-irene.html')
              | Conozca mas de Irene 
          .btn.propuesta
            a(href='mis-propuestas.html')
              | Mis propuestas
    section#eventos
      .row
        .col
          h2
            | Proximos eventos
      .row
        .col
          .event-image-banner
          .event-title
          .event-description
        .col
          .event-image-banner
          .event-title
          .event-description
        .col
          .event-image-banner
          .event-title
          .event-description
        .col
          .event-image-banner
          .event-title
          .event-description
    section#prioridades
      h2
        | Las prioridades de Cabo San Lucas
    include _modules/social-media.pug
    include _partials/footer.pug
