section#banner
  #carouselSelect.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselSelect', data-slide-to='0')
      li(data-target='#carouselSelect', data-slide-to='1')
      li(data-target='#carouselSelect', data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/banners/banner-1.jpg', alt='First slide')
      .carousel-item
        img.d-block.w-100(src='images/banners/banner-2.jpg', alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='images/banners/banner-3.jpg', alt='Third slide')
    a.carousel-control-prev(href='#carouselSelect', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselSelect', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
