section#menu
  .row.text-center
    .col
      a(href='/') 
        | inicio
    .col
      a(href='/conoce-a-irene/index.html')
        | conoce a irene
    .col.pr-50
      a(href='/prioridades/index.html')
        | prioridades
    .col.pl-50
      a(href='/delegacion-csl/index.html')
        | delegacion csl
    .col
      a(href='/eventos/index.html')
        | eventos
    .col
      a(href='/noticias/index.html')
        | noticias
    .logo
      a(href='/')
        img(src='/images/logos/irene-galindo.png', width='auto')
