section#social-media
  .container
    .row
      .col
        .text-center
          a(href='facebook.com', target='_blank')
            i.fa.fa-facebook-f
          a(href='instagram.com', target='_blank')
            i.fa.fa-instagram
          a(href='twitter.com', target='_blank')
            i.fa.fa-twitter
